  <div class="nav-container">
     <!-- top left section -->
     <div class="logo">
       <div id="line1" class="line"><span id="name">PAUL JICKLING</span></div>
       <div id="line2" class="line"><span id="email">pjickling@gmail.com</span></div>
       <div id="line3" class="line"></div>
       <div id="line4" class="line"></div>
       <div id="line5" class="line"></div>
     </div>
     <!-- page nav -->
     <nav>
       <li class="nav"><a href="https://pauljickling.github.io/projects" class="nav">Projects</a></li>
       <li class="nav"><a href="https://pauljickling.github.io" class ="nav">Blog</a></li>
       <li class="nav"><a href="https://pauljickling.github.io/about" class="nav">About</a></li>
     </nav>
     <nav id="external">
       <li class="nav"><a href="https://github.com/pauljickling" class="nav" id="github"><img src="https://pauljickling.github.io/assets/img/GitHub-Mark-32px.png" alt="GitHub link"></a></li>
       <li class="nav"><a href="https://www.linkedin.com/in/paul-jickling-40647614/" class="nav" id="linkedin"><img src="https://pauljickling.github.io/assets/img/In-Black-34px-R.png" alt="LinkedIn link"></a></li>
     </nav>
   </div>
