  <div class="nav-container">
     <!-- top left section -->
     <div class="logo">
       <div id="line1" class="line"><span id="website">semitext.xyz</span></div>
       <div id="line2" class="line"><a href="https://bsky.app/profile/semitext.xyz" class="nav" id="bsky" target="_blank">bsky</a></div>
       <div id="line3" class="line"><a href="https://0x12f.bandcamp.com" class="nav" id="bandcamp" target="_blank">0x12f</a></div>
       <div id="line4" class="line"></div>
       <div id="line5" class="line"></div>
     </div>
   </div>
